.vs
*.zip
*.exe
*.dll
*.pdb
*.old
*.suo
*.wmv
*.log

# Don't ignore package dlls and such
!packages

# Don't ignore ffmpeg dlls
!intellaScreenRecord/ffmpeg/*.dll

deploy

# Don't git anything w/deploy... maaaaybe we should use a separate repo at some point?  But it probably should be a centralized share so everyone uses the same deployn
# !deploy/*/updates/*/*

bin
db.lock
gitVersion.txt
obj

SetupProject/default_settings.txt
SetupProject/client.wyc
intellaQueue/src/SetupProject/client.wyc

wyUpdateProjects/Updates
wyUpdateProjects/add.xml
wyUpdateProjects/old
wyUpdateProjects/wyUpdate
